h2{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}