<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="my.component.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ek+Mukta">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title></title>
</head>
<body>
<div style="background-color: rgb(34, 34, 34); height: 40px;clear: both;">
  <i class="material-icons" style="float: left; padding-top: 8px; padding-left: 150px; color: rgb(51, 129, 19);">home</i>
  <p style="padding-top: 11px; padding-right: 15px; float: left; padding-left: 2px; font-family: 'Times New Roman', Times, serif; color:white;">thanhle.16012000@gmail.com</p>
  <p style="color:rgb(83, 80, 80); float: left; padding-top: 11px;">|</p>
  <i class="material-icons" style="float: left; padding-top: 7px; padding-left: 15px;"><a style=" color: rgb(51, 129, 19); font-size: 20px;">phone_in_talk</a></i>
  <p style="padding-top: 11px; padding-right: 15px; float: left; padding-left: 3px;"><a style="font-family: 'Times New Roman', Times, serif; color:white;">0367012721</a></p>
  <a href = "https://www.instagram.com/lehuuthanh_/?hl=vi"><i class="fa fa-instagram" style="float: right; color: white; padding-right: 150px; padding-top: 11px; font-size: 20px; padding-left: 10px;"></i></a>
  <a href = "https://twitter.com/2601Lehuuthanh"><i class="fa fa-twitter" style="float: right; color: white; padding-top: 11px; font-size: 20px; padding-left: 12px;"></i></a>
  <a href = "https://www.facebook.com/lehuu.thanh.1829"><i class="fa fa-facebook-f" style="float: right; color: white; padding-top: 11px; font-size: 20px; padding-left: 10px;"></i></a>
</div>
<div style="background-image: url(n2.jpg); background-repeat: no-repeat; background-size: 100% 100%;">
  <br><br><br>
  <form style="color:rgb(255, 255, 251); float:right; padding-right: 100px;">
    <h4>Hãy đề xuất đóng góp của bạn</h4>
    Họ:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="ho" ><br>
    Tên:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="ten"><br>
    Email:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="email"><br>
    Số điện thoại:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="sdt"><br>
    Đóng góp:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="dg"><br><br>
    <input style="color: rgb(34, 34, 34);" type="submit" value="Send">
  </form>
  <div style="padding-left: 100px;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; color:rgb(255, 255, 255); padding-right: 900px;">
      HÃY ĐỂ CHÚNG TÔI ĐI CÙNG BẠN TRẢI NGHIỆM CUỘC SỐNG NÀY
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px; color:rgb(255, 255, 255); padding-right: 980px; padding-left: 30px;">
      Chào mừng bạn đến với chúng tôi. Chúng tôi là một chuyên gia cung cấp cho khách hàng những thông tin hữu ích về trải nghiệm cuộc sống.
      Chúng tôi cung cấp cho khách hàng những hình ảnh hay những bình luận về nơi mà họ từng đi qua, những món ăn họ từng thưởng thức, đặc biệt là
      những hoạt động mà họ từng tham gia. Ở đây là toàn bộ thông tin do khách hàng review và đóng góp ý kiến.
    </p>
    <br><br><br><br><br>
  </div>
</div>

</body>
</html>