<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="my.component.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title></title>
</head>
<body style="height: auto;">
<div style="background-color: rgb(34, 34, 34); height: 40px;clear: both;">
  <i class="material-icons" style="float: left; padding-top: 8px; padding-left: 150px; color: rgb(51, 129, 19);">home</i>
  <p style="padding-top: 11px; padding-right: 15px; float: left; padding-left: 2px; font-family: 'Times New Roman', Times, serif; color:white;">thanhle.16012000@gmail.com</p>
  <p style="color:rgb(83, 80, 80); float: left; padding-top: 11px;">|</p>
  <i class="material-icons" style="float: left; padding-top: 7px; padding-left: 15px;"><a style=" color: rgb(51, 129, 19); font-size: 20px;">phone_in_talk</a></i>
  <p style="padding-top: 11px; padding-right: 15px; float: left; padding-left: 3px;"><a style="font-family: 'Times New Roman', Times, serif; color:white;">0367012721</a></p>
  <a href = "https://www.instagram.com/lehuuthanh_/?hl=vi"><i class="fa fa-instagram" style="float: right; color: white; padding-right: 150px; padding-top: 11px; font-size: 20px; padding-left: 10px;"></i></a>
  <a href = "https://twitter.com/2601Lehuuthanh"><i class="fa fa-twitter" style="float: right; color: white; padding-top: 11px; font-size: 20px; padding-left: 12px;"></i></a>
  <a href = "https://www.facebook.com/lehuu.thanh.1829"><i class="fa fa-facebook-f" style="float: right; color: white; padding-top: 11px; font-size: 20px; padding-left: 10px;"></i></a>
</div>
<div style="background-image: url(n2.jpg); background-repeat: no-repeat; background-size: 100% 100%;">
  <br>
  <div id="menu">
    <img src="logo1.png" style="float: left;" height="100px" width="200px">
    <ul style="background-color: rgb(31, 86, 139);">
      <li style="float: right; width: 120px; height: 40px; line-height: 40px;"><a href="vhoa.html" style="color: rgb(255, 238, 0);">Văn hóa</a></li>
      <li style="float: right; width: 120px; height: 40px; line-height: 40px;"><a href="#" style="color: rgb(255, 238, 0);">Du lịch</a></li>
      <li style="float: right; width: 120px; height: 40px; line-height: 40px;"><a href="#" style="color: rgb(255, 238, 0);">Ẩm thực</a></li>
      <li style="float: right; width: 120px; height: 40px; line-height: 40px;"><a href="my.component.html" style="color: rgb(255, 238, 0);">Home</a></li>
    </ul>
  </div>
  <br><br><br><br><br><br><br>
  <form style="color:rgb(255, 255, 251); float:right; border: 1px solid white; text-align: center; background-color: rgb(18, 22, 3);">
    <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Hãy đóng góp ý kiến của bạn</h4>
    Họ:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="ho" ><br>
    Tên:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="ten"><br>
    Email:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="email"><br>
    Số điện thoại:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="sdt"><br>
    Đóng góp:<br>
    <input style="color: rgb(34, 34, 34);" type="text" name="dg"><br><br>
    <input style="color: rgb(34, 34, 34);" type="submit" value="Send">
  </form>
  <div style="padding-left: 100px;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; color:rgb(255, 255, 255); padding-right: 900px;">
      HÃY ĐỂ CHÚNG TÔI ĐI CÙNG BẠN TRẢI NGHIỆM CUỘC SỐNG NÀY
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px; color:rgb(255, 255, 255); padding-right: 980px; padding-left: 30px;">
      Chào mừng bạn đến với chúng tôi. Chúng tôi là một chuyên gia cung cấp cho khách hàng những thông tin hữu ích về trải nghiệm cuộc sống.
      Chúng tôi cung cấp cho khách hàng những hình ảnh hay những bình luận về nơi mà họ từng đi qua, những món ăn họ từng thưởng thức, đặc biệt là
      những hoạt động mà họ từng tham gia. Ở đây là toàn bộ thông tin do khách hàng review và đóng góp ý kiến.
    </p>
    <br><br><br><br><br><br><br><br>
  </div>
</div>
<br><br>
<div>
  <p style="text-align: center; font-size: 30px; color: gray;">Về sản phẩm của chúng tôi</p>
  <p style="text-align: center; font-size: 17px; color: gray; padding-left: 450px; padding-right: 450px;">Bạn có gì đặc biệt? Bạn cung cấp điều gì cho khách hàng? Có gì hơn đối thủ? Giá trị cốt lõi mà sản phẩm dịch vụ mang lại</p>
  <br>
  <div style ="text-align: center;">
    <p style=" font-family: 'Times New Roman', Times, serif;"><b>ĐIỂM MẠNH 1</b></p>
    <div style="border: 1px solid black; text-align: center; background-color: rgb(228, 225, 225); height: 70px; width: 70px; display: inline-block;">
      <i class="material-icons" style="color: black; text-align: center; font-size: 40px; padding-top: 13px;">free_breakfast</i>
    </div>
    <br>
    <p style="padding-top: 7px; padding-left: 400px; padding-right: 400px;">
      Chúng tôi hiển thị cho bạn những nền ẩm thực nổi tiếng của Việt Nam qua sự trải nghiệm của tất cả mọi người</p>
    <div style="border-radius: 10% 10% 10% 10; text-align: center; height: 50px; width: 200px; display: inline-block; box-shadow: 3px 3px rgb(221, 167, 167);text-align: center;">
      <br><a href="#" style="text-align: center; display: inline-block;">Tìm hiểu ẩm thực ngay >
      </a>
    </div>
  </div>
  <br>
  <div style ="text-align: center;">
    <p style=" font-family: 'Times New Roman', Times, serif;"><b>ĐIỂM MẠNH 2</b></p>
    <div style="border: 1px solid black; text-align: center; background-color: rgb(228, 225, 225); height: 70px; width: 70px; display: inline-block;">
      <i class="material-icons" style="color: black; text-align: center; font-size: 40px; padding-top: 13px;">airport_shuttle</i>
    </div>
    <br>
    <p style="padding-top: 7px; padding-left: 400px; padding-right: 400px;">
      Chúng tôi hiển thị cho bạn những địa danh 'danh lam thắng cảnh' bậc nhất của Việt Nam qua trải nghiệm của mọi người</p>
    <div style="border-radius: 10% 10% 10% 10; text-align: center; height: 50px; width: 200px; display: inline-block; box-shadow: 3px 3px rgb(221, 167, 167);text-align: center;">
      <br><a href="#" style="text-align: center; display: inline-block;">Tìm hiểu du lịch ngay >
      </a>
    </div>
  </div>
  <br>
  <div style ="text-align: center;">
    <p style=" font-family: 'Times New Roman', Times, serif;"><b>ĐIỂM MẠNH 3</b></p>
    <div style="border: 1px solid black; text-align: center; background-color: rgb(228, 225, 225); height: 70px; width: 70px; display: inline-block;">
      <i class="material-icons" style="color: black; text-align: center; font-size: 40px; padding-top: 13px;">spa</i>
    </div>
    <br>
    <p style="padding-top: 7px; padding-left: 400px; padding-right: 400px;">
      Chúng tôi hiển thị cho bạn những văn hóa của Việt Nam qua trải nghiệm của mọi người</p>
    <div style="border-radius: 10% 10% 10% 10; text-align: center; height: 50px; width: 200px; display: inline-block; box-shadow: 3px 3px rgb(221, 167, 167);text-align: center;">
      <br><a href="#" style="text-align: center; display: inline-block;">Tìm hiểu văn hóa ngay >
      </a>
    </div>
  </div>
</div>
<br>
<div style="background-image: url(n4.jpg); background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;">
  <p style="font-size: 50px; color: rgb(238, 255, 88); padding-left: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Feedback</b>
  </p>
  <pre style="height: auto; width: 350px;">
    Những điều bạn mang đến cho chúng tôi
    rất thú vị và đáng được quan tâm
  </pre>
  <br>
  <pre style="height: auto; width: 350px; float: right;">
    Những ý kiến rất hay. Chúng tôi đã
    tham khảo và cảm thấy rất tuyệt
  </pre>
  <br><br><br><br><br>
  <pre style="height: auto; width: 350px; float: left;">
    Cảm ơn vì những ý kiến rất chuẩn xác
    Chúng tôi đã tham khảo và tin tưởng
    Một page rất hay ...
  </pre>
  <br><br><br><br><br>
  <pre style="height: auto; width: 350px; float: right;">
    Cảm ơn những gì bạn mang lại trải
    nghiệm của bạn sẽ là hành trang
    cho chúng tôi.
  </pre>
  <br><br><br><br><br><br><br>
  <p style="font-size: 50px; color: rgb(238, 255, 88); padding-left: 20px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"><b>Thanks all <3 </b>
  </p>
</div>
<br>
<div style="text-align: center;">
  <p style="text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 50px;">INTRODUCE MYSELF</p>
  <img src="lht.jpg" width="300px" height="400px"><br>
  <p style="font-size: 20px; font-style: italic;">Name: Lê Hữu Thanh<br>
    Mm/dd/yy: 01/26/2000<br>
    Study: University of Science<br>
   </p>
</div>
<footer style="display: block; text-align: center; font-size: 15px; background-color: rgb(151, 142, 142); height: 50px; padding-top: 15px;" >
  <p>@2020 Web All Rights Reserved</p>
</footer>
</body>
</html>